<!DOCTYPE html>
<html>
<head>
    <title>ToDo App</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <script src="/assets/todo-actions.js"></script>
</head>
<body>
    <div id="todo-table">
        <form action="">
            <input type="text" name="item" placeholder="add new item" required>
            <button type="submit">Add Item</button>
        </form>
        <ul>
           <% for(var i=0; i < todos.length; i++){%>
            <li id="<%=i%>" ><%= todos[i].item %></li>
            <%}%>
        </ul>
    </div>
</body>
</html>